@layer theme {
    :root {
        --base-0: rgb(255, 255, 255);
        --base-50: rgb(245, 245, 245);
        --base-100: rgb(235, 235, 235);
        --base-150: rgb(221, 221, 221);
        --base-200: rgb(208, 208, 208);
        --base-250: rgb(195, 195, 195);
        --base-300: rgb(181, 181, 181);
        --base-350: rgb(168, 168, 168);
        --base-400: rgb(154, 154, 154);
        --base-450: rgb(141, 141, 141);
        --base-500: rgb(128, 128, 128);
        --base-550: rgb(114, 114, 114);
        --base-600: rgb(101, 101, 101);
        --base-650: rgb(87, 87, 87);
        --base-700: rgb(74, 74, 74);
        --base-750: rgb(60, 60, 60);
        --base-800: rgb(47, 47, 47);
        --base-850: rgb(34, 34, 34);
        --base-900: rgb(20, 20, 20);
        --base-950: rgb(7, 7, 7);
        --base-1000: rgb(0, 0, 0);

        --success-50: rgb(237, 245, 249);
        --success-100: rgb(218, 237, 248);
        --success-150: rgb(188, 225, 248);
        --success-200: rgb(156, 216, 253);
        --success-250: rgb(125, 204, 248);
        --success-300: rgb(97, 190, 241);
        --success-350: rgb(65, 178, 236);
        --success-400: rgb(36, 164, 223);
        --success-450: rgb(18, 148, 204);
        --success-500: rgb(21, 135, 186);
        --success-550: rgb(12, 121, 168);
        --success-600: rgb(11, 110, 153);
        --success-650: rgb(11, 97, 135);
        --success-700: rgb(17, 88, 121);
        --success-750: rgb(17, 76, 105);
        --success-800: rgb(18, 66, 90);
        --success-850: rgb(18, 56, 76);
        --success-900: rgb(19, 44, 58);
        --success-950: rgb(22, 33, 39);

        --error-50: rgb(250, 241, 240);
        --error-100: rgb(252, 229, 227);
        --error-150: rgb(247, 208, 204);
        --error-200: rgb(254, 193, 188);
        --error-250: rgb(253, 177, 170);
        --error-300: rgb(253, 154, 146);
        --error-350: rgb(253, 131, 123);
        --error-400: rgb(246, 109, 103);
        --error-450: rgb(234, 90, 86);
        --error-500: rgb(218, 75, 72);
        --error-550: rgb(200, 62, 61);
        --error-600: rgb(182, 54, 54);
        --error-650: rgb(161, 47, 47);
        --error-700: rgb(144, 44, 43);
        --error-750: rgb(123, 41, 39);
        --error-800: rgb(105, 39, 37);
        --error-850: rgb(86, 36, 33);
        --error-900: rgb(64, 32, 29);
        --error-950: rgb(44, 26, 24);

        --warning-50: rgb(249, 242, 237);
        --warning-100: rgb(248, 232, 219);
        --warning-150: rgb(243, 212, 186);
        --warning-200: rgb(243, 200, 162);
        --warning-250: rgb(240, 185, 136);
        --warning-300: rgb(238, 166, 98);
        --warning-350: rgb(234, 148, 58);
        --warning-400: rgb(223, 132, 17);
        --warning-450: rgb(204, 120, 15);
        --warning-500: rgb(185, 108, 13);
        --warning-550: rgb(167, 97, 10);
        --warning-600: rgb(150, 87, 11);
        --warning-650: rgb(134, 78, 11);
        --warning-700: rgb(120, 70, 13);
        --warning-750: rgb(105, 61, 13);
        --warning-800: rgb(90, 55, 19);
        --warning-850: rgb(73, 47, 21);
        --warning-900: rgb(56, 38, 20);
        --warning-950: rgb(38, 29, 21);

        --blue-50: rgb(237, 245, 249);
        --blue-100: rgb(218, 237, 248);
        --blue-150: rgb(188, 225, 248);
        --blue-200: rgb(156, 216, 253);
        --blue-250: rgb(125, 204, 248);
        --blue-300: rgb(97, 190, 241);
        --blue-350: rgb(65, 178, 236);
        --blue-400: rgb(36, 164, 223);
        --blue-450: rgb(18, 148, 204);
        --blue-500: rgb(21, 135, 186);
        --blue-550: rgb(12, 121, 168);
        --blue-600: rgb(11, 110, 153);
        --blue-650: rgb(11, 97, 135);
        --blue-700: rgb(17, 88, 121);
        --blue-750: rgb(17, 76, 105);
        --blue-800: rgb(18, 66, 90);
        --blue-850: rgb(18, 56, 76);
        --blue-900: rgb(19, 44, 58);
        --blue-950: rgb(22, 33, 39);
    }

    html[data-theme="dark"] {
        --base-0: rgb(0, 0, 0);
        --base-50: rgb(7, 7, 7);
        --base-100: rgb(20, 20, 20);
        --base-150: rgb(34, 34, 34);
        --base-200: rgb(47, 47, 47);
        --base-250: rgb(60, 60, 60);
        --base-300: rgb(74, 74, 74);
        --base-350: rgb(87, 87, 87);
        --base-400: rgb(101, 101, 101);
        --base-450: rgb(114, 114, 114);
        --base-500: rgb(128, 128, 128);
        --base-550: rgb(141, 141, 141);
        --base-600: rgb(154, 154, 154);
        --base-650: rgb(168, 168, 168);
        --base-700: rgb(181, 181, 181);
        --base-750: rgb(195, 195, 195);
        --base-800: rgb(208, 208, 208);
        --base-850: rgb(221, 221, 221);
        --base-900: rgb(235, 235, 235);
        --base-950: rgb(245, 245, 245);
        --base-1000: rgb(255, 255, 255);

        --success-50: rgb(22, 33, 39);
        --success-100: rgb(19, 44, 58);
        --success-150: rgb(18, 56, 76);
        --success-200: rgb(18, 66, 90);
        --success-250: rgb(17, 76, 105);
        --success-300: rgb(17, 88, 121);
        --success-350: rgb(11, 97, 135);
        --success-400: rgb(11, 110, 153);
        --success-450: rgb(12, 121, 168);
        --success-500: rgb(21, 135, 186);
        --success-550: rgb(18, 148, 204);
        --success-600: rgb(36, 164, 223);
        --success-650: rgb(65, 178, 236);
        --success-700: rgb(97, 190, 241);
        --success-750: rgb(125, 204, 248);
        --success-800: rgb(156, 216, 253);
        --success-850: rgb(188, 225, 248);
        --success-900: rgb(218, 237, 248);
        --success-950: rgb(237, 245, 249);

        --error-50: rgb(44, 26, 24);
        --error-100: rgb(64, 32, 29);
        --error-150: rgb(86, 36, 33);
        --error-200: rgb(105, 39, 37);
        --error-250: rgb(123, 41, 39);
        --error-300: rgb(144, 44, 43);
        --error-350: rgb(161, 47, 47);
        --error-400: rgb(182, 54, 54);
        --error-450: rgb(200, 62, 61);
        --error-500: rgb(218, 75, 72);
        --error-550: rgb(234, 90, 86);
        --error-600: rgb(246, 109, 103);
        --error-650: rgb(253, 131, 123);
        --error-700: rgb(253, 154, 146);
        --error-750: rgb(253, 177, 170);
        --error-800: rgb(254, 193, 188);
        --error-850: rgb(247, 208, 204);
        --error-900: rgb(252, 229, 227);
        --error-950: rgb(250, 241, 240);

        --warning-50: rgb(38, 29, 21);
        --warning-100: rgb(56, 38, 20);
        --warning-150: rgb(73, 47, 21);
        --warning-200: rgb(90, 55, 19);
        --warning-250: rgb(105, 61, 13);
        --warning-300: rgb(120, 70, 13);
        --warning-350: rgb(134, 78, 11);
        --warning-400: rgb(150, 87, 11);
        --warning-450: rgb(167, 97, 10);
        --warning-500: rgb(185, 108, 13);
        --warning-550: rgb(204, 120, 15);
        --warning-600: rgb(223, 132, 17);
        --warning-650: rgb(234, 148, 58);
        --warning-700: rgb(238, 166, 98);
        --warning-750: rgb(240, 185, 136);
        --warning-800: rgb(243, 200, 162);
        --warning-850: rgb(243, 212, 186);
        --warning-900: rgb(248, 232, 219);
        --warning-950: rgb(249, 242, 237);

        --blue-50: rgb(22, 33, 39);
        --blue-100: rgb(19, 44, 58);
        --blue-150: rgb(18, 56, 76);
        --blue-200: rgb(18, 66, 90);
        --blue-250: rgb(17, 76, 105);
        --blue-300: rgb(17, 88, 121);
        --blue-350: rgb(11, 97, 135);
        --blue-400: rgb(11, 110, 153);
        --blue-450: rgb(12, 121, 168);
        --blue-500: rgb(21, 135, 186);
        --blue-550: rgb(18, 148, 204);
        --blue-600: rgb(36, 164, 223);
        --blue-650: rgb(65, 178, 236);
        --blue-700: rgb(97, 190, 241);
        --blue-750: rgb(125, 204, 248);
        --blue-800: rgb(156, 216, 253);
        --blue-850: rgb(188, 225, 248);
        --blue-900: rgb(218, 237, 248);
        --blue-950: rgb(237, 245, 249);
    }
}