@font-face {
    font-family: 'Light';
    src: url("../_fonts/Switzer-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LightItalic';
    src: url("../_fonts/Switzer-LightItalic.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Regular';
    src: url("../_fonts/Switzer-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RegularItalic';
    src: url("../_fonts/Switzer-Italic.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Medium';
    src: url("../_fonts/Switzer-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MediumItalic';
    src: url("../_fonts/Switzer-MediumItalic.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bold';
    src: url("../_fonts/Switzer-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BoldItalic';
    src: url("../_fonts/Switzer-BoldItalic.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Black';
    src: url("../_fonts/Switzer-Black.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BlackItalic';
    src: url("../_fonts/Switzer-BlackItalic.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer theme {
    :root {
        --Regular: 'Regular';
        --RegularItalic: 'RegularItalic';
        --Medium: 'Medium';
        --MediumItalic: 'MediumItalic';
        --Bold: 'Bold';
        --BoldItalic: 'BoldItalic';
        --Black: 'Black';
        --BlackItalic: 'BlackItalic';
        --Light: 'Light';
        --LightItalic: 'LightItalic';
    }
}