@theme inline {
    --color-border: var(--color-base-150);

    --color-success-50: var(--success-50);
    --color-success-100: var(--success-100);
    --color-success-150: var(--success-150);
    --color-success-200: var(--success-200);
    --color-success-250: var(--success-250);
    --color-success-300: var(--success-300);
    --color-success-350: var(--success-350);
    --color-success-400: var(--success-400);
    --color-success-450: var(--success-450);
    --color-success-500: var(--success-500);
    --color-success-550: var(--success-550);
    --color-success-600: var(--success-600);
    --color-success-650: var(--success-650);
    --color-success-700: var(--success-700);
    --color-success-750: var(--success-750);
    --color-success-800: var(--success-800);
    --color-success-850: var(--success-850);
    --color-success-900: var(--success-900);
    --color-success-950: var(--success-950);

    --color-warning-50: var(--warning-50);
    --color-warning-100: var(--warning-100);
    --color-warning-150: var(--warning-150);
    --color-warning-200: var(--warning-200);
    --color-warning-250: var(--warning-250);
    --color-warning-300: var(--warning-300);
    --color-warning-350: var(--warning-350);
    --color-warning-400: var(--warning-400);
    --color-warning-450: var(--warning-450);
    --color-warning-500: var(--warning-500);
    --color-warning-550: var(--warning-550);
    --color-warning-600: var(--warning-600);
    --color-warning-650: var(--warning-650);
    --color-warning-700: var(--warning-700);
    --color-warning-750: var(--warning-750);
    --color-warning-800: var(--warning-800);
    --color-warning-850: var(--warning-850);
    --color-warning-900: var(--warning-900);
    --color-warning-950: var(--warning-950);

    --color-error-50: var(--error-50);
    --color-error-100: var(--error-100);
    --color-error-150: var(--error-150);
    --color-error-200: var(--error-200);
    --color-error-250: var(--error-250);
    --color-error-300: var(--error-300);
    --color-error-350: var(--error-350);
    --color-error-400: var(--error-400);
    --color-error-450: var(--error-450);
    --color-error-500: var(--error-500);
    --color-error-550: var(--error-550);
    --color-error-600: var(--error-600);
    --color-error-650: var(--error-650);
    --color-error-700: var(--error-700);
    --color-error-750: var(--error-750);
    --color-error-800: var(--error-800);
    --color-error-850: var(--error-850);
    --color-error-900: var(--error-900);
    --color-error-950: var(--error-950);

    --color-base-0: var(--base-0);
    --color-base-50: var(--base-50);
    --color-base-100: var(--base-100);
    --color-base-150: var(--base-150);
    --color-base-200: var(--base-200);
    --color-base-250: var(--base-250);
    --color-base-300: var(--base-300);
    --color-base-350: var(--base-350);
    --color-base-400: var(--base-400);
    --color-base-450: var(--base-450);
    --color-base-500: var(--base-500);
    --color-base-550: var(--base-550);
    --color-base-600: var(--base-600);
    --color-base-650: var(--base-650);
    --color-base-700: var(--base-700);
    --color-base-750: var(--base-750);
    --color-base-800: var(--base-800);
    --color-base-850: var(--base-850);
    --color-base-900: var(--base-900);
    --color-base-950: var(--base-950);
    --color-base-1000: var(--base-1000);

    --font-light-italic: var(--LightItalic);
    --font-light: var(--Light);
    --font-regular: var(--Regular);
    --font-regular-italic: var(--RegularItalic);
    --font-medium: var(--Medium);
    --font-medium-italic: var(--MediumItalic);
    --font-bold: var(--Bold);
    --font-bold-italic: var(--BoldItalic);
    --font-black: var(--Black);
    --font-black-italic: var(--BlackItalic);
}